---
title: "Eleventy Portfolio"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">My story</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  <p>Ullam magnam ducimus unde in reiciendis enim minus voluptatem fugit! Nemo quasi sit ipsum mollitia autem iusto molestias, ab veniam ipsam inventore.<p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  <p>Ullam magnam ducimus unde in reiciendis enim minus voluptatem fugit! Nemo quasi sit ipsum mollitia autem iusto molestias, ab veniam ipsam inventore.<p>
 </section> 